<body>
  <div class="container">
    <nav>
      <div class="image">
        <img
          src="/assets/images/logo.png"
          alt=""
        />
      </div>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Products</a></li>
        <li><a href="">About us</a></li>
        <li><a href="">Sign up</a></li>
      </ul>
    </nav>

    <div class="content">
      <div class="text">
        <h1>About</h1>
        <h1>Us</h1>
        <input type="checkbox" id="check" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nisi
          consequuntur illo dignissimos aperiam.
        </p>
        <div class="par">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis
            blanditiis vitae molestiae porro dolore possimus ex aliquam natus.
            Consectetur, odio?
          </p>
        </div>
        <label for="check">Read more</label>

        <div class="Image">
          <img
            src="/assets/images/flat-online-search.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</body>
