.manage-brand {
    display: flex;
    flex-direction: column;
    margin: 4vh auto;
    align-items: center;
    
}
.items {
    width: 40vw;
    border: 2px solid black;
    margin: 20px;
}
label {
    font-size: large;
    margin-right: 6px;
}
input {
    font-size: large;
    width: 200px;
}
button {
    font-size: larger;
    font-weight: bold;
    border-radius: 6px;
    padding: 6px;
    margin: 4px;
    float: right;
}
.add-brand {
    width: 40vw;
}
.add-brand h3{
    margin-bottom: 10px;
}